.google-btn {
    width: 100%;
    height: 46px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: 1px solid #d1d5db;
    border-radius: 8px;

    background: #ffffff;
    color: #222222;

    font-size: 14px;
    font-weight: 500;

    cursor: pointer;
}

.google-btn img {
    width: 20px;
    height: 20px;
}